
<div class="container">
    <div class="container__content">
        <h1>Welcome to Document Complete Helper</h1>
        <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Maxime illo ex delectus harum? Officia asperiores ipsa 
            necessitatibus veniam laudantium vel.</span>
        <div class="container__content__buttons">
            <a routerLink="/main">Let's complete!</a>
            <a routerLink="/create">Create your template!</a>
        </div>
    </div>
</div>
