.file-input {
    display: none;
}

.returnButton {
    padding: 10px;
    border: 0;
    background-color: transparent;
    font-family: 'IBM Plex Sans', sans-serif;
    position: relative;
    margin: 15px 0 15px 30px;
    font-size: 16px;
    cursor: pointer;
    &:before {
        content: '<';
        margin-right: 5px;
        color: #DE1200;
    }
}



.container {
    height: 100vh;
    position: relative;
    display: grid;
    place-items: center;
}

.content {
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.completeBtn {
    margin-top: 15px;
    opacity: 1;
    border: 0;
    background-color: #DE1200;
    padding: 10px 15px;
    border-radius: 15px;
    color: white;
    font-size: 16px;
    transition: 0.2s all;
    &:hover {
        cursor: pointer;
        background-color: rgb(238, 28, 28);
    }
}