<button routerLink="/main" class="returnButton" (click)="clearFileInput()">Back</button>

<div class="container">
    <!-- <div id="showFileContainer">
    </div> -->
    <div id="inputFieldsContainer">
        <div class="documentTitle">{{documentTitle | titlecase}}</div>
        <div class="inputContainer" >
            <div class="inputContainer__inputs" *ngFor="let property of properties">
                <label for="property">{{property}}</label>
                <input type='text' pattern="[a-zA-Z ]*" id={{property}} #box [placeholder]="property" (change)="this.setObjectProperties(box)">
            </div>
           
        </div>
        <button (click)="this.service.generate()">Save</button>
    </div>
</div>