<button routerLink="/main" class="returnButton" (click)="clearFileInput()">Back</button>

<div class="container">
    <div id="showFileContainer">

        <!-- <pdf-viewer [src]="pdfSrc"
              [render-text]="true"
              [original-size]="false"
              style="width: 100%; height: 100%"
        ></pdf-viewer> -->
        <!-- <ngx-doc-viewer [url]="pdfSrc" viewer="google" style="width:100%;height:50vh;">
        </ngx-doc-viewer> -->
        <!-- <embed [src]="pdfSrc" type="application/pdf" width="100%" height="100%"> -->
    </div>
    <div id="inputFieldsContainer">
        <div class="inputContainer" *ngFor="let property of properties">
            <label for="property">{{property}}</label>
            <input type="text" id={{property}} #box [placeholder]="property" (change)="this.setObjectProperties(box)">
        </div>
        <button (click)="this.service.generate()">Save</button>
    </div>
</div>