
<div class="container">
    <input type="file" class="file-input" id="doc"
    (change)="this.checkFile($event)" #fileUpload>
    <div class="fileContainer" (click)="fileUpload.click()" #fileContainer>
        <div class="fileContainer__upload">

            {{service.fileName || "No file uploaded yet."}}
  
            <button mat-mini-fab color="primary" class="fileContainer__upload__btn">
                <mat-icon>attach_file</mat-icon>
            </button>
        </div>
    </div>
    <button routerLink="/completing-page" *ngIf="service.isUploaded" [@inOutAnimation] class="completeBtn" (click)="service.getFileReplacements()">Complete</button>
</div>